html, body{ height: 100%; }
body::after{ content: mini; display: none; }
*{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
*{ box-sizing: border-box; }
html{ font-size: 62.5%; }
body{ font: normal normal normal 62.5%/1.5 Georgia, 'Times New Roman', serif; color: rgb(51, 51, 51); }
 ul{ font-size: 1.4rem; margin-top: 0px; margin-right: 0px; margin-bottom: 1.5em; margin-left: 0px; }
.clearfix::after{ content: '.'; display: block; height: 0px; clear: both; visibility: hidden; }
.no-bullets{ list-style-type: none; list-style-position: initial; list-style-image: initial; }
.thumb-home-shield{ left: 1px; position: relative; top: 10px; width: 25%; }
@media screen and (min-width: 960px){
.thumb-home-shield{ left: 0px; top: 18px; }
}
.wrapper{ height: 99.8%; }