/*
*************************************************

SUPERFRIENDLY
General Screen Styles

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/

//@import 'bourbon';
@import 'variables.scss';


/*-------------------------------------------    
    Fonts     
-------------------------------------------*/



/*-------------------------------------------    
    Flag
	(Thanks Jeremy: http://adactio.com/journal/5429/)
-------------------------------------------*/
html, 
body {
    height: 100%;
}

body:after { 
    content: 'mini'; 
    display: none; 
}


/*-------------------------------------------    
    Base     
-------------------------------------------*/
* { 
    margin: 0; 
    padding: 0; 
}

/* apply a natural box layout model to all elements. Thanks, Paul: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, 
*:before, 
*:after { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

html { 
    font-size: 62.5%; /* for rems */
} 

body { 
    font: normal 62.5%/1.5 $mainFontStack; 
    color: #333; 
}


/* block level */

h1, 
.h1 { 
    color: #fff;
    font: normal 72px $mainFontStack; 
    font-size: 7.2rem;
    margin: 0 0 0.5em; 
}

h2, 
.h2 { 
    font: bold 1.8rem $mainFontStack; 
    margin: 0 0 1em; 
}

h3, 
.h3 { 
    font: bold 1.5rem $mainFontStack; 
    margin: 0 0 1em; 
}

h4, 
h5, 
h6, 
.h4, 
.h5, 
.h6 { 
    font: bold 1.2rem $mainFontStack; 
    margin: 0 0 1em; 
}

p, 
ul, 
dl, 
ol, 
table { 
    font-size: 1.4rem; 
    margin: 0 0 1.5em; 
}

form { 
    margin: 0 0 1.5em; 
}

/* inline */

label { 
    font-size: 1.6rem; 
}

input, 
select, 
textarea {  
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder { 
}

input.empty::-webkit-input-placeholder, 
textarea.empty::-webkit-input-placeholder { 
    color: red; 
}

input.empty:-moz-placeholder, 
textarea.empty:-moz-placeholder { 
    color: red; 
}

.error { 
    color: red; 
}

table { }
    td { 
        padding: 0.25em 1em; 
        border-top: 1px solid #aaa; 
    }

em { 
    font-style: italic; 
}

strong { 
    font-weight: bold; 
}

mark { 
    background: none; 
    font-style: normal; 
    font-weight: normal;
}

video { 
    width: 100%; 
    height: auto; 
}

a { 
    text-decoration: none; 
    /*.transition(all, 0.25s, linear);*/ 
}

a:hover, 
a:focus { 
    color: red; 
}

img { 
    display: block; 
    margin: 0 10px 10px 0; 
    max-width: 100%; 
}

a img { 
    border: none; 
}

i { 
    font-style: normal; 
}

b { 
    font-weight: normal; 
}

abbr, 
abbr[title], 
acronym { 
    font-size: 75%; 
    letter-spacing: 0.2em; 
    text-transform: uppercase; 
    border: none; 
}

code { 
    font: 1.4rem/1 Consolas, 'Courier New', Courier, monospace; 
    color: #999; 
}

sub, 
sup { 
    line-height: 0; 
}

::selection { 
    background: #2a69c2; 
    color: #fff; 
}

::-moz-selection { 
    background: #2a69c2; 
    color: #fff; 
}


/*-------------------------------------------    
    Global
-------------------------------------------*/
 
/* Phark Image Replacement - http://phark.typepad.com/phark/2003/08/accessible_imag.html */
.phark { display: block; text-indent: -9999px; background-position: 0 0; background-repeat: no-repeat; background-color: transparent; }

/* Trimming Outline in Firefox - http://snook.ca/archives/html_and_css/trimming_long_o  */
/*\*/ .phark-link { overflow: hidden; } /**/

/* Kellum Image Replacement - http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
.kellum { text-indent: 100%; white-space: nowrap; overflow: hidden; }

/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */ 
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.offscreen { position: absolute; left: -9999px; display: block; }
.onscreen { left: 0; }

.hide { display: none; }

.no-bullets { list-style: none; }

.bulleted { list-style: disc; }

.uppercase { text-transform: uppercase; }

.rwd-break { display: block; }




/*-------------------------------------------    
    Wireframes
-------------------------------------------*/
.main-nav mark { 
    // background: yellow; 
    // font-weight: bold; 
}

.wf, 
.pagination { 
    background: #eee; 
    background: rgba(0, 0, 0, 0.1); 
    padding: 2em; 
    margin: 0 1% 1em; 
}


/*-------------------------------------------    
    Layout
-------------------------------------------*/
.col50 { 
    width: 46%; 
    float: left; 
    padding-left: 1%; 
    padding-right: 1%; 
}



/*-------------------------------------------    
    Nav
-------------------------------------------*/

.main-nav { 
    /*height: 71px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    width: 100%;    
    overflow-x: scroll;
    padding: 0;
    -webkit-overflow-scrolling: touch; // magical: http://benfrain.com/horizontal-scrolling-area-css-overflow-ios/*/      

    background: white;
    bottom: 0;
    height: 71px;
    left: 0;
    overflow-x: scroll;  
    padding: 0 5px;
    position: fixed;
    width: 100%;
    
}

    .thumb-holder { 
        // background: blue;       
        // white-space: nowrap;
        // width: auto;

        width: auto;
        white-space: nowrap;
    }

    .thumb-item {        
        /*background: $slideColor;
        color: #fff;
        display: inline-block;
        height: 58px;
        line-height: 58px;
        line-height: 0;
        margin: 6px 9px 0 0;
        text-align: center;
        width: 103px;*/ 

        display: inline-block;
        font-size: 14px;
        font-size: 1.4rem;
        height: 65px;
        line-height: 58px;
        margin: 6px 9px 0 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        text-align: center;
        width: 103px;   

        &:after { 
            content: ""; 
            display: block; 
            width: 100%; 
            height: 8px;
            border-top: 4px solid #fff;
            background: #fff; 
            position: absolute; 
            bottom: 0; 
            left: 0; 
            @include transition(height, 0.25s, linear); 
        }

    }

    .current {             
        &:after { 
            background: $mainColor;
            // @include transition(height, 0.25s, linear); 
        }
    }

    .thumb {        
        background: $slideColor;
        color: #fff;      
        display: block;
        height: 100%;
        width: 100%;

        &:hover,
        &:focus {
            color: #fff;
            opacity: 0.8;
        }
    }

@media screen and (min-width: 960px) {

    .main { 
        width: 70%; 
        //float: left; 
        padding: 3em 0 0; 
        width: 100%; 
        padding: 0 250px 0 0; 
        padding: 0; 
        margin-right: 300px; 
    }

    .main-nav { 
        width: 25%; 
        width: 225px; 
        padding: 4em 0 0 5%; 
        position: fixed; 
        top: 0; 
        right: 0; 
        height: 100%; 
        padding: 5px 0 0; 
        overflow-y: scroll; 
        left: auto; 
        bottom: auto;

        /*ul {
            width: auto;
            width: 100%;
            width: 225px;
            overflow: hidden;
            overflow-y: scroll;
            padding: 6px 0 0;
        }*/

        /*.nested1 { 
            margin: 0 0 0 17px; 
        }

            li,
            .nested1 li {
                display: block;
            }

                .thumb { 
                    background: $slideColor;                     
                    color: #fff; 
                    float: none;
                    font-size: 30px;
                    height: 113px;                     
                    line-height: 113px;
                    margin: 0 0 13px 10px; 
                    text-align: center;
                    width: 197px;                   
                    
                    &:after {
                        display: block;
                        left: -10px;
                        top: 0;
                        bottom: auto;
                        right: auto;
                        @include transition(width, 0.25s, linear);
                    }
                }
                
                .nested1 .thumb { 
                    width: 180px; 
                }

        .current > .thumb { 
            // background: yellow; 
            
            &:after { 
                width: 4px; 
                height: 100%;
                @include transition(width, 0.25s, linear); 
            }
        }*/
        
    }

        .thumb-holder {
            width: 225px;
        }

            .thumb-item {
                display: block;
                font-size: 30px;                                    
                height: 113px;
                line-height: 113px;
                margin: 0 0 13px 10px; 
                width: 197px;

                &:after { 
                    display: none;                     
                }   
            }

            .thumb-nested {
                margin-left: 26px; 
                width: 180px;
            }
}

/*.thumb-home-shield {    
    left: 1px;
    position: relative;
    top: 10px;
    width: 25%;    

    @media screen and (min-width: 960px){
        left: 0;
        top: 18px;
    }

}

.thumb-oreilly .thumb {
    background: #c32032;
}
    .thumb-oreilly-logo {
        position: relative;
        top: 8px;
        width: 35%;

        @media screen and (min-width: 960px){
            top: 18px;
            width: 40%;
        }

    }

.thumb-tc .thumb {
    background: #179106;   
}
    .thumb-tc-logo {
        position: relative;
        top: 6px;
        width: 50%;

        @media screen and (min-width: 960px){
            top: 10px;
            width: auto;
        }
    }

.thumb-grantland .thumb {
    background: #e8e7e3;
}
    .thumb-grantland-logo {
        position: relative;
        top: 10px;
        width: 35%;

        @media screen and (min-width: 960px){
            top: 24px;
        }
    }

.thumb-ew .thumb {
    background: #1aa3af;
}
    .thumb-ew-logo {
        position: relative;
        top: 2px;
        width: 70%;
    }

.thumb-rif .thumb {
    background: #0072c6;
}
    .thumb-rif-logo {
        position: relative;
        top: 14px;
        width: 50%;

        @media screen and (min-width: 960px){
            top: 20px;
        }
    }

.thumb-1800contacts .thumb {
    background: #213871;
}

    .thumb-1800contacts-logo {
        position: relative;
        top: 8px;
        width: 50%;

        @media screen and (min-width: 960px){
            top: 13px;
        }
    }*/

.thumb-item svg {
    display: none;
}

/*-------------------------------------------    
    Modules
-------------------------------------------*/   

.pagination { 
    background: #fafafa;

	ul { 
        float: right; 
    }
	
    	li { 
			display: inline; 
			&:first-child { margin-right: 1em; }
		}
}

.screen { 
    background: blue;
    //min-height: 800px; 
    border: 5px solid #fff; 
    border-bottom: 1px solid #fff; 
    padding: 50px 30px;

    @media screen and (min-width: 960px){
        margin: 0 225px 0 0; 
    }
}

.wrapper {
    height: 99.8%;
}


/*-------------------------------------------    
    Home
-------------------------------------------*/
.screen-main { 
    background: #181818; 
    height: 100%;
}

.sf-logo {    
    left: 10px;
    margin: 0 auto;
    position: relative;
    width: 180px;

    @media screen and (min-width: 960px){
        left: 20px;
        margin: 70px 0 0 0;
        width: 450px;
        transform: scale(1.2);
    }

}

.tagline {
    color: #929292;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: normal;
    position: relative;
    text-align: center;

    @media screen and (min-width: 960px){
        font-size: 24px;
        font-size: 2.4rem;
        left: 128px;
        text-align: left;
        top: -90px;
    }
}

.pitch {
    color: #b8b8b8;
    font-size: 26px;
    font-size: 2.6rem;
    font-weight: normal;
    margin: 0 0 2em;
    text-align: center;

    &-cta {
        color: #fff;
        font-style: normal;
    }

    @media screen and (min-width: 960px){
        font-size: 34px;
        font-size: 3.4rem;
        margin: -1em 0 2em 128px;
        text-align: left;
        max-width: 700px;
    }

}



/*-------------------------------------------    
    Work
-------------------------------------------*/
.screen-work { 
    background: #181818; 
}


/*-------------------------------------------    
    Work: O'Reilly
-------------------------------------------*/
.screen-oreilly { 
    background: #b9002d; 
}


/*-------------------------------------------    
    Work: TechCrunch
-------------------------------------------*/
.screen-techcrunch { 
    background: #179106; 
}


/*-------------------------------------------    
    Work: Grantland
-------------------------------------------*/
.screen-grantland { 
    background: #e2dad4; 
}


/*-------------------------------------------    
    Work: Entertainment Weekly
-------------------------------------------*/
.screen-ew { 
    background: #1aa3af; 
}


/*-------------------------------------------    
    Work: Seven Heads Design
-------------------------------------------*/
.screen-7hd { 
    background: #fbe900; 
}


/*-------------------------------------------    
    Work: Mastercard
-------------------------------------------*/
.screen-mastercard { 
    background: #111; 
}


/*-------------------------------------------    
    Work: Moodpik
-------------------------------------------*/
.screen-moodpik { 
    background: #fff; 
}


/*-------------------------------------------    
    Work: No Chains
-------------------------------------------*/
.screen-no-chains { 
    background: #ee6002; 
}


/*-------------------------------------------    
    Work: 1800contacts
-------------------------------------------*/
.screen-1800contacts { 
    background: #26335a; 
}


/*-------------------------------------------    
    About
-------------------------------------------*/
.screen-about { 
    background: #181818; 
}


/*-------------------------------------------    
    Contact
-------------------------------------------*/
.screen-contact { 
    background: #181818; 
}