$serifFontStack: Georgia, 'Times New Roman', serif;
$sansFontStack: Helvetica, Arial, sans-serif;

// colors
$sfOrange: #fc2f07;
$dark: #1e1e1e;

// assignments
$mainColor: $sfOrange;
$slideColor: $dark;
$mainFontStack: $serifFontStack;


@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}